﻿@model Ventas.Web.Models.VendedorEditModel
<div id="InscripcionFormContainer" class="container padding-top-10">

    @using (Html.BeginForm("Edit", "Vendedores", FormMethod.Post,
       new
       {
           enctype = "multipart/form-data",
           id = "IncripcionForm",
           @class = "form-horizontal form-group-smform-group-sm",
           role = "form"
       }
    ))
    {
        @Html.AntiForgeryToken()
        @*<div class="modal-dialog modal-lg">*@
        <div class="modal-dialog">
            @*<div class="modal-content">*@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <strong>
                        Modificar Vendedor @Model.VendedorCodigo
                    </strong>
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.VendedorId)
                    <form>
                        <div class="row">
                            <div class="col-md-3 padding-top-10">
                                <label for="stateorregion" class="control-label">Tipo:</label>
                                @Html.EditorFor(model => model.TipoDocumento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 padding-top-10">
                                <label for="zipcode" class="control-label">Número:</label>
                                @Html.EditorFor(model => model.NumeroDocumento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NumeroDocumento, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 padding-top-10">
                                <label for="city" class="control-label">Tipo Vendedor:</label>
                                @Html.EditorFor(model => model.TipoVendedor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TipoVendedor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 padding-top-10">
                                <label for="firstName" class="control-label">Nombres :</label>
                                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 padding-top-10">
                                <label for="firstName" class="control-label">Apellidos :</label>
                                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row padding-top-10">
                            <div class="col-md-12">
                                <label for="address1" class="control-label padding-top-10">Dirección:</label>
                                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 padding-top-10">
                                <label for="address1" class="control-label padding-top-10">Correo:</label>
                                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 padding-top-10">
                                <label for="communicationpreference" class="control-label">Telefono:</label>
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 padding-top-10">
                                <label for="address1" class="control-label padding-top-10">Equipo de Venta:</label>
                                @Html.EditorFor(model => model.EquipoVenta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EquipoVenta, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 padding-top-10">
                                <label for="communicationpreference" class="control-label">Fuerza de Venta:</label>
                                @Html.EditorFor(model => model.FuerzaVenta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FuerzaVenta, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 padding-top-10">
                                <label for="city" class="control-label">Supervisor:</label>
                                @Html.EditorFor(model => model.Supervisor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Supervisor, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 padding-top-10">
                                <label for="city" class="control-label">Estado:</label>
                                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 padding-top-10">
                                @*<label for="city" class="control-label">Avatar:</label>
                                @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 padding-top-10">
                                <label for="stateorregion" class="control-label">Usuario:</label>
                                @Html.EditorFor(model => model.UltimoUsuario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UltimoUsuario, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 padding-top-10">
                                <label for="zipcode" class="control-label">Fecha:</label>
                                @Html.EditorFor(model => model.UltimaFechaModif, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UltimaFechaModif, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="col-md-6 padding-top-10">

                            </div>*@
                            <div class="col-md-6 padding-top-10">
                                @Html.Label("Imagen", new { @class = "control-label col-md-6" })
                                <input type="file" name="archivo" class="btn btn-info col-md-12" />

                                @*@Html.LabelFor(m => m.Avatar, new { @class = "col-md-2 col-md-6" })*@
                                @*<div class="col-md-10">*@
                                 @*@Html.TextBoxFor(m => m.Avatar, new { type = "file" , @class="btn btn-info col-md-12"})*@
                                   
                                @*</div>*@

                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <button type="submit" value="Save" class="btn btn-success" id="savebutton">
                        Grabar <i class="glyphicon glyphicon-floppy-disk"></i>
                    </button>
                </div>
            </div>
            @*</div>*@
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
