﻿@model Ventas.Web.Models.VendedorSearchModel

<div id="InscripcionFormContainer" class="container padding-top-10">
    @using (Ajax.BeginForm("BuscarVendedores", "Vendedores",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaVendedoresEncontrados"
    },
    new
    {
        id = "BuscaVendedoresForm",
        @class = "form-horizontal"
    }
    ))
    {
        @*@using (Html.BeginForm("Busqueda", "Vendedores", FormMethod.Get,
               new
               {
                   enctype = "multipart/form-data",
                   id = "IncripcionForm",
                   @class = "form-horizontal form-group-sm",
                   role = "form"
               }
            ))
            {*@
        <div class="modal-dialog">
            @Html.AntiForgeryToken()
            <div class="panel panel-info padding-top-1">
                <div class="panel-heading">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <strong>
                        Buscar Vendedores
                    </strong>
                </div>
                <div class="panel-body padding-top-1">
                    <div class="row">
                        @Html.HiddenFor(model => model.TipoBusqueda)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-3 padding-top-10">
                            @Html.EditorFor(model => model.VendedoCodigo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Código..." } })
                        </div>
                        <div class="col-md-7 padding-top-10">
                            @Html.EditorFor(model => model.Busqueda, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre y Apellidos..." } })
                        </div>
                        <div class="col-md-1 padding-top-10">
                            <input type="submit" value="Buscar" class="btn btn-default" />
                        </div>
                    </div>
                    <div id="ListaVendedoresEncontrados" class="panel panel-default table-responsive col-md-12">
                        @if (Model.Vendedores.Count() > 0)
                        {
                            @Html.Partial("_VendedoresBusqueda", Model.Vendedores) ;
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
