﻿@model IEnumerable<Ventas.Web.Models.VendedorListModel>
@{
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        rowsPerPage: 15, selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "grid", canSort: true);
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<br>
<div>
    @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                fillEmptyRows: false,
                        headerStyle: "header",
                tableStyle: "table table-hover table-responsive table-condensed table-bordered",
                mode: WebGridPagerModes.All,
                firstText: "Primero",
                lastText: "Ultimo",
                previousText: "Anterior",
                nextText: "Siguiente",
                numericLinksCount: 5,
                columns: grid.Columns(
                grid.Column("VendedorCodigo", "Vendedor"),
                grid.Column("Avatar", "Avatar"),
                grid.Column("TipoVendedor", "Tipo"),
         grid.Column("Nombres", "Nombres"),
        grid.Column("Apellidos", "Apellidos"),
            //grid.Column("TipoDocumento", "Tipo"),
            //grid.Column("NumeroDocumento", "Numero"),
            //grid.Column("EquipoVenta", "Equipo"),
            //grid.Column("FuerzaVenta", "FF.VV"),
        grid.Column("Estado", "Estado")))
</div>

@*<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>*@


@section Scripts    {
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/jqueryval")
}
<script>

    $('#grid td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");
        var vendedor = row.find('td:first').text();
        alert(vendedor)
    });
</script>