﻿@model IEnumerable<Ventas.Web.Models.VendedorListModel>

<script src="~/Scripts/app/datatable.js"></script>

<table id="myTable" class="table table-hover table-responsive table-condensed table-bordered">
    <thead >
        <tr>
            <th class="highlight">Código</th>
            <th class="highlight">Nombres</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.VendedorCodigo</td>
                <td>@item.Nombres</td>
                <td>@item.Apellidos</td>
                <td>@item.Direccion</td>
                <td>@item.Estado</td>
                <td>
                    @Ajax.ActionLink("  ", "Edit", "Vendedores",
                    new { id = item.VendedorId, area = "" },
                    new AjaxOptions
                    {
                        HttpMethod = "Get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "InscripcionModalForm"
                    },
                    new
                    {
                        data_toggle = "modal",
                        data_target = "#InscripcionModalForm",
                        @class = "glyphicon glyphicon-map-marker"
                    })
                </td>
            </tr>
        }
    </tbody>
    @*<tfoot>
            <tr style="align-content:center">
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
            </tr>
        </tfoot>*@
</table>

<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>

<link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap.min.css">
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
@*<script>
        $(document).ready(function () {
            //$('#myTable tbody').hide()
            var table = $('#myTable').DataTable({
                " retrieve": true,
                "dom": "t<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>",
                //"dom": "<'bottom'><'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>",
                "PaginationType": "full_numbers",
                "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                //initComplete: function () {
                //    this.api().columns().every(function () {
                //        var column = this;
                //        var select = $('<select class="form-control input-sm"><option value=""></option></select>')
                //            .appendTo($(column.footer()).empty())
                //            .on('change', function () {
                //                var val = $.fn.dataTable.util.escapeRegex(
                //                    $(this).val()
                //                );

                //                column
                //                    .search(val ? '^' + val + '$' : '', true, true)
                //                    .draw();
                //            });
                //        column.data().unique().sort().each(function (d, j) {
                //            if (d.search("#InscripcionModalForm") < 0) {
                //                select.append('<option value="' + d + '">' + d + '</option>')
                //            }
                //        });
                //    });
                //}
            });

            $('#myTable tbody').on('dblclick', 'tr', function () {
                var data = table.row(this).data();
                alert('You clicked on ' + data[0] + '\'s row');
            });
            $('#myTable tbody').show()
            $('#myTable').show()
            //$('i.toggle-vis').on('click', function (e) {
            //    e.preventDefault();

            //    // Get the column API object
            //    var column = table.column($(this).attr('data-column'));

            //    // Toggle the visibility
            //    column.visible(!column.visible());
            //});
            //var table = $('#myTable').DataTable();

            //$('#myTable tbody').on('click', 'tr', function () {
            //    var data = table.row(this).data();
            //    alert('You clicked on ' + data[0] + '\'s row');
            //});
        });
    </script>*@

@section Scripts    {
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/paginacion")
}
