﻿@model Ventas.Web.Models.VendedorViewModel

<div>
    <h4>VendedorViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendedorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendedorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendedorCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendedorCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipoVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuerzaVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuerzaVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supervisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaFechaModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaFechaModif)
        </dd>
        <dd>
            @if (Model.Avatar != null)
            {
                <div>
                    @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Avatar.Contenido) + "\" class=\"img-thumbnail\" style=\"width: 100px; height: 100px; margin-bottom: 20px;\" />")
                </div>
            }
            else
            {
                <span>No tiene Avatar</span>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
