﻿@model Ventas.Web.Models.VendedorSearchModel

@{
    ViewBag.Title = "Vendedores";
}
<br />
<div class="body-content container">
    @using (Ajax.BeginForm("BuscarVendedores", "Vendedores",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaVendedoresEncontrados"
    },
    new
    {
        id = "BuscaVendedoresForm",
        @class = "form-horizontal"
    }
    ))
    {

        <div class="table-responsive col-md-12">
            <div id="BuscaVendedoresForm" class="form-group">
                @Html.HiddenFor(model => model.TipoBusqueda)
                <div class="col-md-6">
                    <input type="text" placeholder="Buscar Vendedor..."
                           name="Busqueda" value=@Model.Busqueda class="form-control" />
                </div>
                <div class="col-md-6">
                    <button type="submit" value="Buscar" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    }

    <div id="ListaVendedoresEncontrados" class="table-responsive col-md-12">
        @if (Model.Vendedores.Count() > 0)
        {
            @Html.Partial("_VendedoresEncontrados", Model.Vendedores) ;
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}