﻿@model IEnumerable<Ventas.Web.Models.ListaVentasViewModel>
@{
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        rowsPerPage: 15, selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "grid", canSort: true);
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>


<div>
    @using (Html.BeginForm("VentasSelected", "Ventas", FormMethod.Post))
    {
        <p></p>
        @*<input type="submit" value="Delete Selected" />*@
    <div>
        @Html.DropDownList("Chofer", "<Seleccionar Chofer>")
        @Html.DropDownList("Vehiculo", "<Seleccionar Vehiculo>")

        <button id="exportToXls" type="submit" onclick="app.exportar()"
                class="btn btn-link">
            <i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;Asignar Datos
        </button>
    </div>

        @*@Html.DropDownList("CompaniaCodigo", "<Select Chofer>")*@

        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                 tableStyle: "table table-hover table-responsive table-condensed table-bordered",
            footerStyle: "webgrid-footer",
            mode: WebGridPagerModes.All,
            firstText: "Primero",
            lastText: "Ultimo",
            previousText: "Anterior",
            nextText: "Siguiente",
            numericLinksCount: 5,
            columns: grid.Columns(
                     grid.Column("Acción", format: @<text>
                <div class="btn-group">
                    <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=@Url.Action("Ver", "Clientes", new { id = item.VentaId })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver</a></li>
                        <li><a href=@Url.Action("Modificar", "Clientes", new { id = item.VentaId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Modificar</a></li>
                        <li><a href=@Url.Action("Eliminar", "Clientes", new { id = item.VentaId })><i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar</a></li>
                    </ul>
                </div></text>),
                        grid.Column("VentaId", "Id"),
                        grid.Column("FechaDespacho", canSort: true, format: @<text>@item.FechaDocumento.ToString("MM/dd/yyyy")</text>),
                        grid.Column("EstadoVenta", "Estado"),
                        grid.Column("TipoDocumento", "Tipo"),
                        grid.Column("NumeroDocumento", "Numero"),
                        //grid.Column("ClienteNombre", "Cliente"),
                        grid.Column("MontoAfecto", "Sub-Total"),
                        grid.Column("MontoImpuesto", "IGV"),
                        grid.Column("MontoTotal", "Total"),
                        grid.Column(format:@<text><input type="checkbox" name="ids" value="@item.VentaId" /></text>, header: "Select"),
                        grid.Column("Fecha",canSort: true, format: @<text>@item.FechaDespacho.ToString("MM/dd/yyyy")</text>),
                        grid.Column("EstadoDespacho", "Estado")
                        //grid.Column("Chofer", "Chofer"),
                        //  grid.Column("Vehiculo", "Vehiculo")
                        
                        ));

    }
</div>

@*</div>*@
<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}