﻿@model Ventas.Web.Models.BuscaVentasViewModel
@*@model Ventas.Web.Models.SeleccionarVentasViewModel*@

@{
    ViewBag.Title = "Ventas";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

@using (Ajax.BeginForm("BuscarVentas", "BuscarVentas",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaVentasEncontradas"
    },
    new
    {
        id = "BuscaVentasForm",
        @class = "form-inline"
    }
    ))
{
    <div class="form-group">
        <input type="text" placeholder="Buscar Cliente..." id="dateFrom"
               name="Busqueda" value=@Model.Busqueda class="form-control" />
    </div>
    @*<input type="submit" value="Buscar" class="btn btn-success" />*@

    <button type="submit" value="Buscar" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
}


<div id="ListaVentasEncontradas" class="table-responsive">
    @if (Model.Ventas.Count() > 0)
    {
        @Html.Partial("_VentasEncontradas", Model.Ventas) ;
    }
</div>

<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>
<script>

    $("#dateFrom").datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: false
    });

    var currentDate = new Date();
    $("#dateFrom").datepicker("setDate", currentDate);
</script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}


