﻿<div class="body-content container">
    <div style="width:100%; margin:0 auto;">
        <table id="myTable" class="table table-hover table-responsive table-condensed table-bordered">
            <thead>
                <tr class="info">
                    <th>Employee Name</th>
                    <th>Company</th>
                    <th>Phone</th>
                    <th>Country</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap.min.css">


@* Load datatable js *@
@section Scripts{
    @*<script src="//code.jquery.com/jquery-1.12.3.min.js"></script>*@
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#myTable').DataTable({
                "ajax": {
                    "url": "/home/loaddata",
                    "type": "GET",
                    "datatype": "json"
                },
                //"dom": '<"top"l>',
                "dom": "<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>" ,
                //"Dom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                //"PaginationType": "full_numbers",
                "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "columns": [
                        { "data": "ClienteNombre", "autoWidth": true },
                        { "data": "Direccion", "autoWidth": true },
                        { "data": "NumeroDocumento", "autoWidth": true },
                        { "data": "Telefono", "autoWidth": true },
                ]
            });
        });
    </script>
}
