﻿<html>
<head>
    <title>Get Latitude and Longitude Coordinates of a Polygon - Google Maps API v3</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        var bermudaTriangle;
        function initialize() {
            var myLatLng = new google.maps.LatLng(-12.0552581, -77.0802049);
            var mapOptions = {
                zoom: 14,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.RoadMap
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
            var triangleCoords = [
            new google.maps.LatLng(-12.05526, -77.0802),
            new google.maps.LatLng(-12.06281, -77.0845),
            new google.maps.LatLng(-12.06231, -77.07531)

            ];
            // Construct the polygon
            bermudaTriangle = new google.maps.Polygon({
                paths: triangleCoords,
                draggable: true,
                editable: true,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            });

            bermudaTriangle.setMap(map);
            google.maps.event.addDomListener(savebutton, 'click', getPolygonCoords)

            //google.maps.event.addListener(bermudaTriangle, "dragend", getPolygonCoords);
            //google.maps.event.addListener(bermudaTriangle.getPath(), "insert_at", getPolygonCoords);
            //google.maps.event.addListener(bermudaTriangle.getPath(), "remove_at", getPolygonCoords);
            //google.maps.event.addListener(bermudaTriangle.getPath(), "set_at", getPolygonCoords);
        }

        function getPolygonCoords() {
            var len = bermudaTriangle.getPath().getLength();
            var htmlStr = "";
            for (var i = 0; i < len; i++) {
                htmlStr += bermudaTriangle.getPath().getAt(i).toUrlValue(5) + "<br>";
            }
            document.getElementById('info').innerHTML = htmlStr;
        }
    </script>
</head>

<body onload="initialize()">
    <button type="submit" class="btn btn-success" id="savebutton">
        Grabar Geo-Zona <i class="glyphicon glyphicon-floppy-disk"></i>
    </button>
    <div id="map-canvas" style="height: 1000px; width: 1000px;">
    </div>

    <div id="info" class="alert-info" style="font-family: Arial; font-size: 14px;">
    </div>
</body>
</html>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
