﻿@{
    ViewBag.Title = "Home Page";
}

    <div class="container" style="padding-top:15px;padding-left:350px">
    <center>
        <div class="row">
            <div class="panel panel-green col-sm-7 col-md-5" style="padding-top:15px">
                <div class="thumbnail">
                    <img src="~/Content/Imgs/EdwinNavarro.JPG" height="242" width="200" alt="...">
                    <div class="caption">
                        @*<h3>Thumbnail label</h3>*@
                        @if (@TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible" role="alert">

                                @*    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                                <h3>

                                    <strong>@TempData["Success"].!</strong>

                                </h3>

                            </div>
                        }
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Empezar</a>
                            @*<a href="#" class="btn btn-default" role="button">Button</a>*@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>



