﻿@model Ventas.Web.Models.ClienteDetalleViewModel

<div id="ClienteFormContainer">
    @using (Html.BeginForm("Create", "Clientes", FormMethod.Post,
       new
       {
           id = "ClienteForm",
           @class = "form-horizontal",
           role = "form"
       }
    ))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog" style="background-color:white;padding:20px">
            <div class="modal-content" style="border:solid;border-color:#063252; padding:5px">
                <div class="modal-header" style="padding-bottom:2px;padding-top:2px">
                    <h4><strong> Nuevo Cliente </strong></h4>
                </div>
                <div class="modal-body" style="padding-bottom:2px">
                    <div class="form-horizontal">
                        @Html.HiddenFor(model => model.ClienteId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table>
                            <tr>
                                <td>@Html.LabelFor(model => model.ClienteNombre, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td colspan="3">
                                    @Html.EditorFor(model => model.ClienteNombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ClienteNombre, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.TipoDocumento, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.TipoDocumento, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
                                </td>
                                <td>@Html.LabelFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.NumeroDocumento, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NumeroDocumento, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td colspan="3">
                                    @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td colspan="3">
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Latitud, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
                                </td>
                                <td>@Html.LabelFor(model => model.Longitud, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </td>
                                <td>@Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })

                                    @*@Html.DropDownListFor(model => model.Estado, new SelectList(
                                      new List<Object>{
                                           new { value = "A" , text = "Activo"  },
                                           new { value = "I" , text = "Inactivo" }
                                        },
                                      "value",
                                      "text",
                                       "A"))*@

                                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="padding-bottom:2px;padding-top:6px">
                    <button type="button"
                            class="btn btn-warning"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button type="submit"
                            class="btn btn-info">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    }
</div>