﻿@model IEnumerable<Ventas.Web.Models.ClienteDireccion>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<table class="table table-condensed table-hover table-bordered">
    <tr class="info">
        <th>            @Html.DisplayNameFor(model => model.DireccionId)        </th>
        <th>            @Html.DisplayNameFor(model => model.Descripcion)        </th>
        <th>            @Html.DisplayNameFor(model => model.Departamento)        </th>
        <th>            @Html.DisplayNameFor(model => model.Provincia)        </th>
        <th>            @Html.DisplayNameFor(model => model.Distrito)        </th>
        <th>            @Html.DisplayNameFor(model => model.Estado)        </th>
        <th>            @Html.DisplayNameFor(model => model.Latitud)        </th>
        <th>            @Html.DisplayNameFor(model => model.Longitud)        </th>
        <th>            @Html.DisplayNameFor(model => model.GeoFlag)        </th>
        <th>            Geo</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>                @Html.DisplayFor(modelItem => item.DireccionId)            </td>
            <td>                @Html.DisplayFor(modelItem => item.Descripcion)            </td>
            <td>                @Html.DisplayFor(modelItem => item.Departamento)            </td>
            <td>                @Html.DisplayFor(modelItem => item.Provincia)            </td>
            <td>                @Html.DisplayFor(modelItem => item.Distrito)            </td>
            <td>                @Html.DisplayFor(modelItem => item.Estado)            </td>
            <td>                @Html.DisplayFor(modelItem => item.Latitud)            </td>
            <td>                @Html.DisplayFor(modelItem => item.Longitud)            </td>
            <td>                @Html.DisplayFor(modelItem => item.GeoFlag)            </td>
            <td>
                @*@Html.ActionLink(" ", "Marker", "Clientes", new { id = item.DireccionId }, new { @class = "glyphicon glyphicon-map-marker" })*@
                @Ajax.ActionLink("  ", "Geolocalizar", "Clientes",
             new { id = item.DireccionId, area = "" },
                new AjaxOptions
                {
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "InscripcionModalForm"
                },
                new
                {
                    data_toggle = "modal",
                    data_target = "#InscripcionModalForm",
                    @class = "glyphicon glyphicon-map-marker"
                }
                )

            </td>
        </tr>
    }
</table>


<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/direccion")*@
}
