﻿@model Ventas.Web.Models.GeolocalizacionViewModel

<script src="~/Scripts/jquery.cascadingdropdown.js"></script>
<script src="~/Scripts/app/direccion.js"></script>
<script src="~/Scripts/app/maps.js"></script>

<div id="InscripcionFormContainer" class="container padding-top-1">
    @using (Html.BeginForm("Geolocalizar", "Clientes", FormMethod.Post,
       new
       {
           id = "IncripcionForm",
           @class = "form-horizontal form-group-sm",
           role = "form"
       }
    ))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ClienteId)
        @Html.HiddenFor(m => m.DireccionId)
        @Html.HiddenFor(m => m.GeoFlag)
        <div class="modal-dialog modal-lg">
            <div class="panel panel-info padding-top-1">
                <div class="modal-header padding-top-1">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <strong>
                        Geolocalizar Direccion
                    </strong>
                </div>
                <div class="panel-body padding-top-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8 padding-top-10">
                                <label for="email" class="control-label">Dirección:</label>
                                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @name = "Descripcion", @id = "Descripcion" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 padding-top-10">
                                <label for="email" class="control-label">Latitud:</label>
                                @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 padding-top-10">
                                <label for="password" class="control-label">Longitud:</label>
                                @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" id="usuario-ubigeo-dropdown">
                            <div class="col-md-4 padding-top-10">
                                <label for="communicationpreference" class="control-label">Departamento:</label>
                                @Html.HiddenFor(model => model.Departamento,
                                new { @id = "departamento_nombre", @class = "departamento" })

                                @Html.DropDownList("departamento", Model.Departamentos,
                                 new { @id = "usuario_departamento", @class = "form-control departamento" })
                            </div>
                            <div class="col-md-4 padding-top-10">
                                <label for="communicationpreference" class="control-label">Provincía:</label>
                                @Html.HiddenFor(model => model.Provincia,
                                new { @id = "provincia_nombre", @class = "provincia" })

                                @Html.DropDownList("provincia", Model.Provincias,
                                new { @id = "usuario_provincia", @class = "form-control provincia" })
                            </div>
                            <div class="col-md-4 padding-top-10">
                                <label for="confirmpassword" class="control-label">Distrito:</label>
                                @Html.HiddenFor(model => model.Distrito,
                                new { @id = "distrito_nombre", @class = "distrito", @name = "distrito_nombre" })
                                @Html.DropDownList("distrito", Model.Distritos,
                                new { @id = "usuario_distrito", @class = "form-control distrito" })
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <p>
                            <div class="container">
                                <div class="col-md-6 padding-top-10" id="map" style="width:800px;height:300px;">
                                </div>
                            </div>
                            @*</div>*@
                    </div>
                </div>
                <div class="modal-footer padding-top-1">
                    <button type="button"
                            class="btn btn-info" onclick="geolocalizarDireccion()">
                        Geocode
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>
                    </button>

                    <button type="submit"
                            class="btn btn-success">
                        Grabar
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<script>

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            draggable: true,
            zoom: 14,
            center: { lat: -12.0552581, lng: -77.0802049 }
        });

    }

    function geolocalizarDireccion() {
        var address = document.getElementById('Descripcion').value;
        if (address.length == 0) {
            alert("Ingrese una dirección")
        }
        else {
            var map2 = new google.maps.Map(document.getElementById('map'), {
                draggable: true,
                zoom: 14,
                center: { lat: -12.0552581, lng: -77.0802049 }
            });
            var geocoder2 = new google.maps.Geocoder();
            geocodeAddress(geocoder2, map2);
        }
    }

    function geocodePosition(pos) {
        var geocoder = new google.maps.Geocoder();
        var msg = "";
        geocoder.geocode({
            latLng: pos
        }, function (responses) {

            if (responses && responses.length > 0) {
                document.getElementById("Latitud").value = pos.lat();
                document.getElementById("Longitud").value = pos.lng();
                document.getElementById("Descripcion").value = responses[0].formatted_address;
                msg = 'Location : ' + responses[0].formatted_address + '<br/> ';
                msg = msg + 'Latitude : ' + pos.lat() + '<br/> ';
                msg = msg + 'Longitude : ' + pos.lng() + '<br/> ';
                //alert(msg)
                attachMessage(marker, msg);
            } else {
                msg = 'Cannot determine address at this location.';
                attachMessage(marker, msg);
            }
        });

    }

    function attachMessage(marker, msg) {
        var infowindow = new google.maps.InfoWindow({
            content: msg,
            size: new google.maps.Size(120, 150)
        });
        google.maps.event.clearListeners(marker, 'click');
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
    }

    function geocodeAddress(geocoder, resultsMap) {

        var address = document.getElementById('Descripcion').value;
        address = address + " " + document.getElementById('distrito_nombre').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                document.getElementById("Latitud").value = latitude;
                document.getElementById("Longitud").value = longitude;
                document.getElementById("GeoFlag").value = "S";
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    draggable: true,
                    position: results[0].geometry.location
                });

                google.maps.event.addListener(marker, 'dragend', function (event) {

                    //document.getElementById("Latitud").value = this.getPosition().lat();
                    //document.getElementById("Longitud").value = this.getPosition().lng();
                    geocodePosition(marker.getPosition());
                });

            } else {
                document.getElementById("GeoFlag").value = "E";
                alert('Error al geolocalizar Dirección: ' + status);
            }
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC27czKLv2nlTtQfMKsvMQ8Gg8Hv2znIPg&signed_in=true&callback=initMap"
        async defer></script>


<!--
    Bootstrap javascript and JQuery should be loaded
    Placed at the end of the document for faster load times
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>