﻿@model Ventas.Web.Models.InscribirseViewModel
<div id="InscripcionFormContainer">
    @using (Html.BeginForm("Inscribirse", "Clientes", FormMethod.Post,
       new
       {
           id = "IncripcionForm",
           @class = "form-horizontal",
           role = "form"
       }
    ))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EventoId)
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4>Geolocalizar Dirección</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Titulo,
                      new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Titulo,
                        new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NumeroEntradas,
                      new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.NumeroEntradas,
                        new { @class = "form-control" })
                        </div>
                    </div>

                    <div id="map" class="form-group" style="height:350px">

                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button"
                            class="btn btn-info" onclick="initMap()">
                        Geocode
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>
                    </button>

                    <button type="submit"
                            class="btn btn-success">
                        Grabar
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function initMap() {
    
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: { lat: -34.397, lng: 150.644 }
        });
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);

        //document.getElementById('submit').addEventListener('click', function () {
        //    geocodeAddress(geocoder, map);
        //});
    }

    function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('Titulo').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC27czKLv2nlTtQfMKsvMQ8Gg8Hv2znIPg&signed_in=true&callback=initMap"
        async defer></script>
