﻿@model IEnumerable<Ventas.Web.Models.DespachoViewModel>

@{
    ViewBag.Title = "Despachar";
}

<h2>Despachar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteOrigen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteDestino)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteOrigen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteDestino)
        </td>
        <td>
        </td>
    </tr>
}

</table>
