﻿@model Ventas.Web.Models.ClienteDetalleViewModel

@{
    ViewBag.Title = "Modificar";
}
<br />

@Html.AntiForgeryToken()
@*<div class="form-horizontal table-responsive">*@
@Html.HiddenFor(model => model.ClienteId)
@Html.HiddenFor(model => model.CorreoElectronico)
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="body-content container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <strong>Modificar Cliente</strong>
            @*<h4>Cliente</h4>*@
        </div>
        <div class="panel-body">
            <div class="col-md-2">
                @Html.LabelFor(model => model.TipoDocumento, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.TipoDocumento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NumeroDocumento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.NumeroDocumento, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.ClienteNombre, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ClienteNombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ClienteNombre, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
            @*<div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-sm btn-block">Block level button</button>
                    <button type="button" class="btn btn-default btn-sm btn-block">Block level button</button>
                </div>*@
            <div class="col-md-12 table-responsive">

                @if (TempData["Success"] != null)
                {
                    <br />
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Aviso!</strong> @TempData["Success"].
                    </div>
                }
                else
                {
                    <br />
                }

                @Html.Partial("_Direcciones", Model.Direcciones)
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success"><strong>ACEPTAR</strong></button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-warning"><strong>CANCELAR</strong></button>
                </div>
            </div>
        </div>

        <div class="panel-footer">
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
