﻿@model Ventas.Web.Models.ClienteDetalleViewModel

@{
    ViewBag.Title = "Ver";
}
<br />

@Html.AntiForgeryToken()
@*<div class="form-horizontal table-responsive">*@
@Html.HiddenFor(model => model.ClienteId)
@Html.HiddenFor(model => model.CorreoElectronico)
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3>Cliente</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-4">
            @Html.LabelFor(model => model.TipoDocumento, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TipoDocumento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NumeroDocumento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.NumeroDocumento, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-8">

            @Html.LabelFor(model => model.ClienteNombre, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ClienteNombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ClienteNombre, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            @*@Html.LabelFor(model => model.Latitud, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Longitud, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })*@
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
        <hr />

        <div class="col-md-12 table-responsive">
            <br />
            @Html.Partial("_Direcciones", Model.Direcciones)
        </div>
        <!-- Table -->
        @*<div id="myMap" style="width:500px;height:300px">
            </div>*@
    </div>

    <div class="panel-footer">
            @*<button type="submit" class="btn btn-success btn-l btn-block"><strong>ACEPTAR</strong></button>
            <button type="submit" class="btn btn-warning btn-lg btn-block"><strong>CANCELAR</strong></button>*@

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success"><strong>ACEPTAR</strong></button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning"><strong>CANCELAR</strong></button>
            </div>
        </div>

        @*<div class="btn-group btn-group-justified" role="group" aria-label="...">
            <button type="submit" class="btn btn-success">ACEPTAR</button>
            <button type="submit" class="btn btn-warning">CANCELAR</button>
        </div>*@

    </div>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}