﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Usuarios </h2>
<hr />
@*@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")*@

@*<a href=@Url.Action("CreaUsuario", "Account")><i class="glyphicon glyphicon-edit"></i>&nbsp;Crear Nuevo Usuario</a>*@
<a href=@Url.Action("Register", "Account")><i class="glyphicon glyphicon-edit"></i>&nbsp;Crear Nuevo Usuario</a>
<br /><br />
<table class="table table-condensed table-hover table-bordered">
    <thead>
        <tr class="success">
            <th>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>Usuario
                @*@Html.DisplayNameFor(model => model.UserName)*@
            </th>
            <th>Email
                @*@Html.DisplayNameFor(model => model.Email)*@
            </th>
            <th> Correo Confirmado
                @*@Html.DisplayNameFor(model => model.EmailConfirmed)*@
            </th>
            <th> Errores de Acceso
                @*@Html.DisplayNameFor(model => model.AccessFailedCount)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="active">
                <td>
                    <div class="btn-group">
                        <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                            <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=@Url.Action("Ver", "Clientes", new { area = "Administrativa", id = item.Id })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Modificar", "Clientes", new { id = item.Id })><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a>
                            </li>

                        </ul>
                    </div>
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
            </tr>
        }
    </tbody>
</table>
@*<hr />
<div>
    @foreach (var user in Model)
    {
        <p>
            <strong>@user.UserName  | </strong>
            <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@user.UserName" class="delLink" style="color:red;">Delete</a></span> |
            @Html.ActionLink("Edit", "Edit", new { roleName = @user.UserName })
        </p>
    }
</div>*@