﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Usuarios </h2>
<hr />
@*@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")*@

<a href=@Url.Action("Register", "Account")><i class="glyphicon glyphicon-edit"></i>&nbsp;Crear Nuevo Usuario</a>
<br /><br />
<table class="table table-condensed table-hover table-bordered">
    <thead>
        <tr class="success">
            <th>
            </th>
            <th>
                Rol
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="active">
                <td>
                    <div class="btn-group">
                        <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                            <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=@Url.Action("Ver", "Clientes", new { area = "Administrativa", id = item.Id })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Modificar", "Clientes", new { id = item.Id })><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a>
                            </li>

                        </ul>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>