﻿@using Ventas.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="card card-container">

                @*<div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="statcard statcard-success">
                                <div class="p-a">
                                    <span class="statcard-desc">Page views</span>
                                    <h2 class="statcard-number">
                                        12,938
                                        <small class="delta-indicator delta-positive">5%</small>
                                    </h2>
                                    <hr class="statcard-hr m-b-0">
                                </div>
                                <canvas class="sparkline"
                                        data-chart="spark-line"
                                        data-value="[{data:[28,68,41,43,96,45,100]}]"
                                        data-labels="['a','b','c','d','e','f','g']"
                                        width="378" height="94"></canvas>
                            </div>
                        </div>
                    </div>*@

                <div>
                    <center>
                        <img src="~/Content/Imgs/Logo.PNG" class="img-thumbnail" style="width: 200px; height: 100px; margin-bottom: 20px;" />
                    </center>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger", @role = "alert" })
                <form class="form-signin">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Usuario", @autofocus = true })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    @*<wbr />*@
                    <p></p>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


                    <p>
                        <center>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </center>
                    </p>

                    <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                    <p>
                        <center>
                            @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                        </center>
                    </p>
                </form><!-- /form -->

            </div><!-- /card-container -->
        </div><!-- /container -->

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Login.css")
}
