﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Olimpo .NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top nav-justified" style="border-bottom-color:white">
        <div class="container">
            <div class="navbar-header">
                @*<a class="navbar-brand" href="/"><img src="~/Content/Imgs/Logo.png" title="Ejemplos Bootstrap" /></a>*@
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'><img alt="Brand" src="~/Content/Imgs/0001-home.png" style="padding:10px"></a>
                @*<a href='@Url.Action("Contact", "Home")'><img alt="Brand" src="~/Content/Imgs/0003-mail.png" style="padding:10px"></a>*@
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("VENTAS", "Index", "BuscarVentas")</li>
                            <li>@Html.ActionLink("DESPACHO", "Index", "BuscarDespachos")</li>
                            style="background-color:#f0ad4e"
                        *@

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                PLANIFICACIÓN
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href=@Url.Action("Inicio", "Entregas")><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Rutas de Despacho </a></li>
                                <li><a href=@Url.Action("Inicio", "Visitas")><i class="glyphicon glyphicon-object-align-bottom"></i>&nbsp;Rutas de Visita </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href=@Url.Action("IndexGeo", "BuscarClientes")><i class="glyphicon glyphicon-map-marker"></i>&nbsp;Geolocalizar Direcciones</a></li>
                                @*<li role="separator" class="divider"></li>
                                    <li><a href=@Url.Action("IndexGeo", "BuscarClientes")><i class="glyphicon glyphicon-map-marker"></i>&nbsp;Geolocalización Manual</a></li>*@
                            </ul>
                        </li>
                        <li>@Html.ActionLink("DESPACHO", "Index", "BuscarDespachos")</li>
                        @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    REGISTROS
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href=@Url.Action("Index", "Papeletas")><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Papeletas</a></li>
                                    <li><a href=@Url.Action("Index", "BuscarCombustible")><i class="glyphicon glyphicon-object-align-bottom"></i>&nbsp;Combustible</a></li>
                                </ul>
                            </li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                MAESTROS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href=@Url.Action("Index", "BuscarClientes")><i class="glyphicon glyphicon-user"></i>&nbsp;Clientes</a></li>
                                <li><a href=@Url.Action("Index", "Choferes")><i class="glyphicon glyphicon-cog"></i>&nbsp;Choferes</a></li>
                                <li><a href=@Url.Action("Index", "Vehiculos")><i class="glyphicon glyphicon-tasks"></i>&nbsp;Vehiculos</a></li>
                                <li><a href=@Url.Action("Index", "Vendedores")><i class="glyphicon glyphicon-user"></i>&nbsp;Vendedores</a></li>
                                <li><a href=@Url.Action("Index", "Zonas")><i class="glyphicon glyphicon-globe"></i>&nbsp;Zonas</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <br />
    <div class="body-content container-fluid">


        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Olimpo</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
