﻿@using Microsoft.AspNet.Identity;
@using Ventas.Web.Models;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

     
    <ul class="nav navbar-nav navbar-right">

        @*<li>
            @Html.ActionLink(User.Identity.GetUserName().ToUpper(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>*@
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName().ToUpper()
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href=@Url.Action("Index", "Usuarios")><i class="glyphicon glyphicon-user"></i>&nbsp;Usuarios</a></li>
                <li><a href=@Url.Action("Index", "Perfiles")><i class="glyphicon glyphicon-cog"></i>&nbsp;Perfiles</a></li>
            </ul>
        </li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()">CERRAR SESION</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("REGISTRARSE", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("INICIAR SESION", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>


    </ul>
}