﻿<div class="container padding-top-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            Registration
        </div>
        <div class="panel-body">
            <form>
                <label for="firstName" class="control-label">Name:</label>
                <div class="row">
                    <div class="col-md-6 padding-top-10">
                        <input type="text" class="form-control" id="firstName" placeholder="First" />
                    </div>
                    <div class="col-md-6 padding-top-10">
                        <input type="text" class="form-control" id="lastName" placeholder="Last" />
                    </div>
                </div>
                <label for="address1" class="control-label padding-top-10">Address:</label>
                <div class="row padding-top-10">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="address1" placeholder="Address line 1" />
                    </div>
                </div>
                <div class="row padding-top-10">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="address2" placeholder="Address line 2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 padding-top-10">
                        <label for="city" class="control-label">City:</label>
                        <input type="text" class="form-control" id="city" placeholder="Your city" />
                    </div>
                    <div class="col-md-2 padding-top-10">
                        <label for="stateorregion" class="control-label">State / Region:</label>
                        <input type="text" class="form-control" id="stateorregion" placeholder="Your state / region" />
                    </div>
                    <div class="col-md-4 padding-top-10">
                        <label for="zipcode" class="control-label">Zipcode:</label>
                        <input type="text" class="form-control" id="zipcode" placeholder="Your zipcode" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 padding-top-10">
                        <label for="email" class="control-label">Email Address:</label>
                        <input type="text" class="form-control" id="email" placeholder="Email Address" />
                    </div>
                    <div class="col-md-6 padding-top-10">
                        <label for="communicationpreference" class="control-label">Communication Preference:</label>
                        <select id="communicationpreference" class="form-control">
                            <option value="text">Plain Text</option>
                            <option value="html">HTML</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 padding-top-10">
                        <label for="password" class="control-label">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password" />
                    </div>
                    <div class="col-md-6 padding-top-10">
                        <label for="confirmpassword" class="control-label">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm your password" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 padding-top-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" /> Click here to subscribe to our newsletter.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--
    Bootstrap javascript and JQuery should be loaded
    Placed at the end of the document for faster load times
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>