﻿@model Ventas.Web.Models.BuscaEventosViewModel

@{
    ViewBag.Title = "Buscar";
}
<hr />
@using (Ajax.BeginForm("Buscar", "Buscar",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaEventosEncontrados"
    },
    new
   { 
        id = "BuscaEventosForm",
        @class = "form-inline"
    }
    ))
{
    <div class="form-group col-sm-10">
        <input type="text" placeholder="Buscar Evento..."
               name="Busqueda" value=@Model.Busqueda class="form-control" />
    </div>
    <input type="submit" value="Buscar" class="btn btn-success" />
}

<div id="ListaEventosEncontrados">
    @if (Model.Eventos.Count() > 0)
    { @Html.Partial("_EventosEncontrados", Model.Eventos) ;
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}