﻿@model IEnumerable<Ventas.Web.Models.ListaVehiculosViewModel>
@{
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        rowsPerPage: 15, selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "grid", canSort: true);
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<br />
<div>
    @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                 tableStyle: "table table-hover table-responsive table-condensed table-bordered",
            footerStyle: "webgrid-footer",
            mode: WebGridPagerModes.All,
            firstText: "Primero",
            lastText: "Ultimo",
            previousText: "Anterior",
            nextText: "Siguiente",
            numericLinksCount: 5,
            columns: grid.Columns(
                grid.Column("Acción", format: @<text>
                <div class="btn-group">
                    <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=@Url.Action("Ver", "Choferes", new { id = item.VehiculoId })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver</a></li>
                        <li><a href=@Url.Action("Modificar", "Choferes", new { id = item.VehiculoId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Modificar</a></li>
                        <li><a href=@Url.Action("Eliminar", "Choferes", new { id = item.VehiculoId })><i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar</a></li>
                    </ul>
                </div></text>),
                        grid.Column("VehiculoId", "Id"),
                        grid.Column("PlacaVehiculo", "Placa"),
                        grid.Column("MarcaVehiculo", "Marca"),
                        grid.Column("Descripcion", "Descripcion"),
                        grid.Column("Peso", "Peso"),
                        grid.Column("Capacidad", "Capacidad"),
                        grid.Column("NumeroSoat", "NumeroSoat"),
                        grid.Column("Estado", "Estado")
                              ))
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}