﻿@model Ventas.Web.Models.BuscaVehiculosViewModel
@{
    ViewBag.Title = "Vehiculos";
}
<div class="body-content container">
    @using (Ajax.BeginForm("BuscarVehiculos", "Vehiculos",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaVehiculosEncontrados"
    },
    new
    {
        id = "BuscaClientesForm",
        @class = "form-horizontal"
    }
    ))
    {
        <div id="BuscaClientesForm" class="table-responsive col-md-12">
            @*<div id="BuscaClientesForm" class="col-md-10" style="background-color:blue">*@
            <div class="col-md-10" style="background-color:transparent">
                <div class="form-group col-md-5" style="background-color:transparent">
                    @Html.LabelFor(model => model.Busqueda, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Busqueda, htmlAttributes:
             new { @class = "form-control", @placeholder = "Buscar Placa...", @Value = @Model.Busqueda })
                    </div>
                </div>
                @*<div class="form-group col-md-7" style="background-color:transparent">
                        @Html.LabelFor(model => model.BusquedaCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BusquedaCliente, htmlAttributes:
                                new { @class = "form-control", @placeholder = "Buscar Cliente...", @Value = @Model.BusquedaCliente })
                        </div>
                    </div>*@
            </div>
            <div class="col-md-2">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">
                        Buscar <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            @*</div>*@
        </div>
    }

    <div id="ListaVehiculosEncontrados" class="panel panel-default table-responsive col-md-12">
        @if (Model.Vehiculos.Count() > 0)
        {
            @Html.Partial("_VehiculosEncontrados", Model.Vehiculos) ;
        }
    </div>

    @*<div id="RenuevaModalFormContainer" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="checkInFormLabel" aria-hidden="True"></div>*@
</div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/unobtrusiveajax")
    }
