﻿@model Ventas.Web.Models.VentaDetalleViewModel

@*<div class="list-group-item active">
    @Html.HiddenFor(model => model.VentaId)
    <h4 class="list-group-item-text"><strong>@Html.DisplayFor(model => model.TipoDocumento)</strong> </h4>
    <p class="list-group-item-text">*@
<div class="alert alert-info" role="alert">
    <dl class="dl-horizontal" style="grid-column-align:start">
        <dt><strong>@Html.DisplayFor(model => model.TipoDocumento)</strong> </dt>
        <dd><strong>@Html.DisplayFor(model => model.NumeroDocumento)</strong></dd>
        <dt>Fecha</dt>
        <dd>@Html.ValueFor(model => model.FechaDocumento, "{0:dd/MM/yyyy}")</dd>
        <dt>Fecha Despacho</dt>
        <dd>@Html.ValueFor(model => model.FechaDespacho, "{0:dd/MM/yyyy}")</dd>
        <dt>SUB-TOTAL S/.</dt>
        <dd>@Html.DisplayFor(model => model.MontoAfecto)</dd>
        <dt>I.G.V</dt>
        <dd>@Html.DisplayFor(model => model.MontoImpuesto)</dd>
        <dt>TOTAL</dt>
        <dd>@Html.DisplayFor(model => model.MontoTotal)</dd>
        <dt>Estado</dt>
        <dd>@Html.DisplayFor(model => model.EstadoVenta)</dd>
        <dt>Despachado</dt>
        <dd>@Html.DisplayFor(model => model.EstadoDespacho)</dd>
    </dl>
</div>
@*</p>
    </div>*@