﻿@model Ventas.Web.Models.VentaCliente

<div class="panel panel-info">
    <div class="panel-heading">
        <h4>@Model.ClienteNombre</h4>
    </div>
    <div class="panel-body">
        @*<div>
            <strong>@Model.ClienteNombre</strong>
        </div>*@

        <div>
            <span><i class="glyphicon glyphicon-envelope"></i>&nbsp; @Html.DisplayFor(model => model.CorreoElectronico)</span>
        </div>

    </div>
    <div class="panel-footer">
        <div>
            @Html.DisplayFor(model => model.Direccion)
        </div>

    </div>
</div>



@*<div>
    <h4>ClienteVenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitud)
        </dd>

    </dl>
</div>*@
