﻿@model IEnumerable<Ventas.Web.Models.VentaDetalle>
<br />
<div class="panel panel-info table-responsive">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <strong>Productos</strong>
    </div>
    <!-- Table -->
    <table class="table">
        <tr>
            <th></th>
            <th>Producto</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Secuencia)</td>
                <td>@Html.DisplayFor(modelItem => item.Producto)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                <td>@Html.DisplayFor(modelItem => item.Monto)</td>
            </tr>
        }
    </table>
</div>
