﻿@model Ventas.Web.Models.VentaDetalleViewModel

@{
    ViewBag.Title = "Ver";
}
<br />

<div class="row">
    <div class="col-md-4">@Html.Partial("_Venta", Model)</div>
    <div class="col-md-8">@Html.Partial("_VentaDetalle", @Model.VentaDetalle)</div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_VentaCliente", Model.VentaCliente)
    </div>
</div>


<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
