﻿@model Ventas.Web.Models.VentaDetalleViewModel

@{
    ViewBag.Title = "Ver";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <strong>@Model.ClienteNombre</strong>
        <strong>@Model.ClienteDireccion</strong>
    </div>
    <div class="panel-body">
        <div id="map" class="form-group" style="height:450px">
        </div>
        @Html.HiddenFor(model => model.Latitud)
        @Html.HiddenFor(model => model.Longitud)
        @*<div class="form-group">
            @Html.LabelFor(model => model.ClienteDireccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClienteDireccion, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Latitud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Longitud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @*<h4>@Model.ClienteDireccion</h4>*@
    </div>
    <div class="panel-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            @*<div class="btn-group" role="group">
                    <button type="button" class="btn btn-success"><strong>ENTREGAR</strong></button>
                </div>*@
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning"><strong>REGRESAR</strong></button>
            </div>
        </div>
    </div>
</div>


<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>

<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    function initMap() {
        //var map = new google.maps.Map(document.getElementById('map'), {
        //    center: { lat: -34.397, lng: 150.644 },
        //    zoom: 14
        //});
        //var infoWindow = new google.maps.InfoWindow({ map: map });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var latitud = position.coords.latitude;
                var longitud = position.coords.longitude;

                var fin1 = document.getElementById('Latitud').value;
                var fin2 = document.getElementById('Longitud').value;

                //alert(fin1);
                //alert(fin2);

                var inicio = { lat: latitud, lng: longitud };
                //var fin = { lat: fin1, lng: fin2 };
                if (fin1 == "-12.1187846")
                {
                    var fin = { lat: -12.1187846, lng: -76.98879690000001 };
                }
                if (fin1 == "-12.1294006") {
                    var fin = { lat: -12.1294006, lng: -76.9833668 };
                }
                if (fin1 == "-12.1415733") {
                    var fin = { lat: -12.1415733, lng: -77.0015424 };
                }
                if (fin1 == "-12.1334886") {
                    var fin = { lat: -12.1334886, lng: -76.995926 };
                }
                 
                if (fin1 == "-12.1309165") {
                    var fin = { lat: -12.1309165, lng: -76.97909770000001 };
                }
                 
                 
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: inicio,
                    scrollwheel: false,
                    zoom: 14
                });

                var directionsDisplay = new google.maps.DirectionsRenderer({
                    map: map
                });

                // Set destination, origin and travel mode.
                var request = {
                    destination: fin,
                    origin: inicio,
                    travelMode: google.maps.TravelMode.DRIVING
                };

                // Pass the directions request to the directions service.
                var directionsService = new google.maps.DirectionsService();
                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        // Display the route on the map.
                        directionsDisplay.setDirections(response);
                    }
                });

                //infoWindow.setPosition(pos);
                //infoWindow.setContent('Location found.');
                //map.setCenter(pos);


            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }


    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC27czKLv2nlTtQfMKsvMQ8Gg8Hv2znIPg&signed_in=true&callback=initMap"
        async defer></script>
@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
