﻿@model Ventas.Web.Models.ListaDespachosViewModel

@{
    ViewBag.Title = "Ver";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <strong>@Model.ClienteEntrega</strong>
        <strong>@Model.DireccionEntrega</strong>
        <strong>@Model.Latitud</strong>
        <strong>@Model.Longitud</strong>
    </div>
    <div class="panel-body">
        <div id="map" class="form-group" style="height:450px">
        </div>
        @Html.HiddenFor(model => model.Latitud)
        @Html.HiddenFor(model => model.Longitud)
    </div>
    <div class="panel-footer">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning"><strong>REGRESAR</strong></button>
            </div>
        </div>
    </div>
</div>


<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>

@*<script>

    function initMap() {

        var fin1 = document.getElementById('Latitud').value;
        var fin2 = document.getElementById('Longitud').value;

        //var chicago = { lat: 41.85, lng: -87.65 };
        var chicago = { lat: fin1, lng: fin2 };

        var indianapolis = { lat: 39.79, lng: -86.14 };

        //var inicio = { lat: latitud, lng: longitud };
        //var fin = { lat: fin1, lng: fin2 };


        var map = new google.maps.Map(document.getElementById('map'), {
            center: chicago,
            scrollwheel: false,
            zoom: 7
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
            map: map
        });

        // Set destination, origin and travel mode.
        var request = {
            destination: indianapolis,
            origin: chicago,
            travelMode: google.maps.TravelMode.DRIVING
        };

        // Pass the directions request to the directions service.
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                // Display the route on the map.
                directionsDisplay.setDirections(response);
            }
        });
    }
</script>*@

<script type="text/javascript">


    var fin1 = document.getElementById('Latitud').value;
    var fin2 = document.getElementById('Longitud').value;

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success);
    } else {
        alert("Geo Location is not supported on your current browser!");
    }
    function success(position) {
        var lat1 = position.coords.latitude;
        var long1 = position.coords.longitude;
        var city = position.coords.locality;
        var indianapolis = new google.maps.LatLng(lat1, long1);

        //var chicago = { lat: 41.85, lng: -87.65 };
        //var chicago = { lat: fin1, lng: fin2 };
        var chicago = new google.maps.LatLng(fin1, fin2);
        //var indianapolis = { lat: 39.79, lng: -86.14 };
        //var indianapolis = { lat: lat1, lng: long1 };


        var map = new google.maps.Map(document.getElementById('map'), {
            center: chicago,
            scrollwheel: false,
            zoom: 14
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
            map: map
        });

        // Set destination, origin and travel mode.
        var request = {
            destination: indianapolis,
            origin: chicago,
            travelMode: google.maps.TravelMode.DRIVING
        };

        // Pass the directions request to the directions service.
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                // Display the route on the map.
                directionsDisplay.setDirections(response);
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnRl3dnBhEex54n50oZePreqx49sUOay4&signed_in=true&callback=initMap"
        async defer></script>
@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
