﻿@model IEnumerable<Ventas.Web.Models.ClientesGeoListModel>
@{
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        rowsPerPage: 20, selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "grid", canSort: true);
}

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
@if (Model.Count() == 0)
{
    if (@TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> @TempData["Success"].
        </div>
    }
}

    @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                   headerStyle: "header",
            tableStyle: "table table-hover table-responsive table-condensed table-bordered",
            footerStyle: "webgrid-footer",
                    selectedRowStyle: "select",
            mode: WebGridPagerModes.All,
            firstText: "Primero",
            lastText: "Ultimo",
            previousText: "Anterior",
            nextText: "Siguiente",
            numericLinksCount: 5,
            columns: grid.Columns(
            grid.Column("Acción", format: @<text>
                <div class="btn-group">
                    <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=@Url.Action("Ver", "Clientes", new { id = item.ClienteId })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver Cliente</a></li>
                        <li>
                            @Html.Raw(
            @Ajax.ActionLink("[replacetext]", "Geolocalizar", "Clientes", new { id = item.DireccionId, area = "" },
            new AjaxOptions
            {
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "InscripcionModalForm"
            }, new
            {
                data_toggle = "modal",
                data_target = "#InscripcionModalForm"
            }).ToHtmlString()
            .Replace("[replacetext]", "<i class=\"glyphicon glyphicon-map-marker\"></i>&nbsp;Geolocalizar Dirección"))
                        </li>
                    </ul>
                </div></text>),
                                            grid.Column("TipoDocumento", "Tipo"),
                                            grid.Column("NumeroDocumento", "Numero"),
                                            grid.Column("CodigoCliente", "Cliente"),
                                            grid.Column("ClienteNombre", "Descripción"),
                                            grid.Column("CodigoDireccion", "Dirección"),
                                            grid.Column("Direccion", "Descripción"),
                                            grid.Column("Latitud", "X"),
                                            grid.Column("Longitud", "Y"),
        //grid.Column("Departamento", "Dep."),
        //grid.Column("Provincia", "Prov."),
        //grid.Column("Distrito", "Dist."),
                                            grid.Column("Estado", "Estado")
                                            )
                                            )

<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}