﻿@model IEnumerable<Ventas.Web.Models.ListaClientesViewModel>
@{
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        rowsPerPage: 15, selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "grid", canSort: true);
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<br>
<div>
    @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                   headerStyle: "header",
            tableStyle: "table table-hover table-responsive table-condensed table-bordered",
            footerStyle: "webgrid-footer",
                    selectedRowStyle: "select",
            mode: WebGridPagerModes.All,
            firstText: "Primero",
            lastText: "Ultimo",
            previousText: "Anterior",
            nextText: "Siguiente",
            numericLinksCount: 5,
            columns: grid.Columns(
                     grid.Column("Acción", format: @<text>
                <div class="btn-group">
                    <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=@Url.Action("Ver", "Clientes", new { id = item.ClienteId })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver</a></li>
                        <li><a href=@Url.Action("Modificar", "Clientes", new { id = item.ClienteId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Modificar</a></li>
                        <li><a href=@Url.Action("Eliminar", "Clientes", new { id = item.ClienteId })><i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar</a></li>
                    </ul>
                </div></text>),

             grid.Column("CodigoCliente", "Id"),
             grid.Column("TipoDocumento", "Tipo"),
             grid.Column("NumeroDocumento", "Numero"),
             grid.Column("ClienteNombre", "Cliente"),
             grid.Column("Direccion", "Dirección"),          
             //grid.Column("Latitud", "Latitud"),
             //grid.Column("Longitud", "Longitud"),
               grid.Column("Estado", "Estado")
               ))
</div>
@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}