﻿@model Ventas.Web.Models.ClientesGeoSearchModel

@{
    ViewBag.Title = "Geolocalizacion";
}

<div class="body-content container">
    <div class="panel panel-info">
        <div class="panel-body">
            @using (Ajax.BeginForm("BuscarClientesGeo", "BuscarClientes",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaClientesEncontrados"
    },
    new
    {
        id = "BuscaClientesForm",
        @class = "form-horizontal table-responsive"
    }
    ))
            {
                <div id="BuscaClientesForm" class="form-group-sm table-responsive col-md-12">
                    <div class="row">
                        <div class="col-md-2 padding-top-10">
                            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Código de Cliente..." } })
                        </div>
                        <div class="col-md-2 padding-top-10">
                            @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Documento RUC o DNI..." } })
                        </div>
                        <div class="col-md-4 padding-top-10">
                            @Html.EditorFor(model => model.Busqueda, new { htmlAttributes = new { @class = "form-control", @placeholder = "Razón Social o Nombre y Apellidos..." } })
                        </div>
                        <div class="col-md-1 padding-top-10">
                            <button type="submit" class="btn btn-info">
                                Buscar <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            @Html.Label("Geo-localización")
                        </div>
                        <div class="col-md-2 padding-top-10">
                            @Html.DropDownListFor(
                                    model => model.Tipo,
                                    new SelectList(
                                    new List<object>
                                        {
                                        new { value = "N" , text = "Pendiente"  },
                                        new { value = "E" , text = "Errado"}
                                        },
                                        "value",
                                        "text",
                                    Model.Tipo
                                     ), new { @id = "MonedaDocumento", @class = "form-control" }
                                        )
                        </div>
                        <div class="col-md-2 padding-top-10">
                            @using (Html.BeginForm("ActualizarDireccionGeo", "BuscarClientes",
                FormMethod.Get, new { @id = "frm-Excel", @class = "form-inline text-right", @target = "_blank" }))
                            {
                                <input type="hidden" name="BusquedaAnterior" />
                                <button id="exportToXls" type="button" onclick="app.exportar()"
                                        class="btn btn-link">
                                    <i class="glyphicon glyphicon-download"></i>&nbsp;Geolocalización Masiva de Direcciones
                                </button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @*<div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Aviso!</strong> @TempData["Success"].
            </div>*@
        @*@if (Model.Clientes.Count() > 0)
            {
                @Html.Partial("_EventosEncontrados", Model.Clientes) ;
            }*@
        <div id="ListaClientesEncontrados" class="panel-body">
            @if (Model.Clientes.Count() > 0)
            {
                @Html.Partial("_ClientesGeoEncontrados", Model.Clientes) ;
            }
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/busqueda")
}
@*<script src="~/Scripts/app/paginacion.js"></script>*@