﻿@model IEnumerable<Ventas.Web.Models.ListaLocationsViewModel>

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/app/GeoZona.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var gmarkers = [];
        var map;

        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(-12.0552581, -77.0802049), //Lima/Peru Lat and Lon
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        $("#txtSearch").keyup(function () {
            var x = $("#txtSearch").val();


            for (i = 0; i < gmarkers.length; i++) {
                gmarkers[i].setMap(null);
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("BuscarClientesMapa", "BuscarClientes")', //"../Map/Search"
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "Location": x }),
                dataType: "json",
                success: function (data) {
                    var table = "<table class='table table-responsive table-condensed table-hover table-bordered'>";
                    $.each(data, function (index, value) {
                        table += "<tr><td>" + value.Descripcion + "</td></tr>";
                        //alert(value.Latitud);
                        //alert(value.Longitud);
                        var latlng = new google.maps.LatLng(value.Latitud, value.Longitud);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
                        //var infowindow = new google.maps.InfoWindow({
                        //    content: "<img src='../Content/Imgs/two_sale.jpg' style='width:172px;height:45px;alt='WebStreet.in'/> <br> " +
                        //        "<p class='text-primary'><b>" + value.Descripcion + "</b></p>"
                        //});
                        var infowindow = new google.maps.InfoWindow({
                            content: "<p class='text-primary'><b>" + value.Descripcion + "</b></p>"
                        });
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map, marker);
                        });
                        gmarkers.push(marker);

                    });
                    table += "</table>";
                    $("#myData").html(table);

                    if (x == "") {
                        for (j = 0; j < gmarkers.length; j++) {
                            gmarkers[j].setMap(null);
                        }
                    }
                }
            });
        });
    });
</script>

<table class="table-responsive">
    <tr>
        <td valign="top">
            @Html.TextBox("txtSearch", null, new { @class = "form-control", @placeholder = "Buscar Cliente" })

            <div id="myData" style="overflow:auto;height:540px;">
                <table class="table table-responsive table-condensed table-hover table-bordered" >
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Descripcion
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </td>

        <td>&nbsp;</td>
        <td valign="top">
            <div id="googleMap" class="table-responsive" style="width:1000px;height:550px;"></div>
        </td>
    </tr>
</table>
