﻿@model Ventas.Web.Models.BuscaClientesViewModel

@{
    ViewBag.Title = "Clientes";
}
<div class="body-content container">
    @using (Ajax.BeginForm("BuscarClientes", "BuscarClientes",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaClientesEncontrados"
    },
    new
    {
        id = "BuscaClientesForm",
        @class = "form-horizontal"
    }
    ))
    {
        <div id="BuscaClientesForm" class="table-responsive col-md-10">
            <div class="col-md-10">
                <div class="form-group col-md-5" style="background-color:transparent">
                    @Html.LabelFor(model => model.BusquedaDocumento, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.BusquedaDocumento, htmlAttributes:
                        new { @class = "form-control", @placeholder = "Buscar Documento...", @Value = @Model.BusquedaDocumento })
                    </div>
                </div>
                <div class="form-group col-md-7" style="background-color:transparent">
                    @Html.LabelFor(model => model.BusquedaCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.BusquedaCliente, htmlAttributes:
                        new { @class = "form-control", @placeholder = "Buscar Cliente...", @Value = @Model.BusquedaCliente })
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="background-color:transparent">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">
                        Buscar <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    }

    <div id="ListaClientesEncontrados" class="panel panel-default table-responsive col-md-12">
        @if (Model.Clientes.Count() > 0)
        {
        @Html.Partial("_ClientesEncontrados", Model.Clientes) ;
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
