﻿@model Ventas.Web.Models.RoleViewModel
@{
    ViewBag.Title = "Create";
}
<h3>Crear Rol</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            <a href=@Url.Action("Index", "RolesAdmin")>
                <i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;Regresar
            </a>
        </h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <button id="save" type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Grabar
                </button>
                @*@Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })*@

                @*<a href=@Url.Action("Create", "RolesAdmin")>
                        <i class="glyphicon glyphicon-file"></i>&nbsp;Nuevo Rol
                    </a>*@
            </div>

        </div>
    </div>
}
<div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
