﻿@model Ventas.Web.Models.ApplicationRole

@{
    ViewBag.Title = "Delete";
}
@*<h3>Eliminar Rol</h3>*@
<p class="text-warning"><h3>¿Esta seguro de eliminar este Rol? </h3></p>
<p class="text-danger">La eliminación de este Rol eliminará todos los usuarios asigandos a este rol.</p>
<p class="text-danger"><strong>NO se eliminarán los usuarios.</strong>  </p>
<div>
    <h4>
        <a href=@Url.Action("Index", "RolesAdmin")>
            <i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;Regresar
        </a>
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button id="save" type="submit" class="btn btn-primary">
                <i class=" glyphicon glyphicon-trash"></i>&nbsp;Eliminar
            </button>
            @*<input type="submit" value="Delete" class="btn btn-default" /> |*@
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
