﻿@model IEnumerable<Ventas.Web.Models.ApplicationRole>


@{
    ViewBag.Title = "Index";
}

@*<h2>Roles</h2>*@


@*<div class="well">
    <table class="table table-condensed">
        <tr>
            <td><b>First name</b></td>
            <td><b>last name</b></td>
            <td><b>Age</b></td>
        </tr>
        <tr class="info">
            <td>Lalit</td>
            <td>Bassi</td>
            <td>22</td>
        </tr>
        <tr class="danger">
            <td>John</td>
            <td>Smith</td>
            <td>40</td>
        </tr>

    </table>
</div>*@


<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4><strong>Lista de Roles</strong> </h4></div>
    <div class="panel-body">
        <a href=@Url.Action("Create", "Perfiles")>
            <i class="glyphicon glyphicon-file"></i>&nbsp;Nuevo Rol
        </a>
    </div>
    <!-- Table -->


    <table class="table table-condensed table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>


