﻿@model IEnumerable<Ventas.Web.Models.ListaDespachosViewModel>

@if (Model.Count() == 0)
{
    if (@TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> @TempData["Success"].
        </div>
    }
}

@{int i = 0;}
@foreach (var venta in Model)
{
    i++;
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            @venta.ClienteEntrega
                        </div>
                        <div class="col-xs-3 text-right">
                            <div class="huge"><strong>@i</strong> </div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        @Html.ActionLink(@venta.DireccionEntrega,
                            "VerDespacho",
                     "Ventas", new { id = @venta.VentaId }, null)
                        @*<span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>*@
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    @*<li>
            <a href="@Url.Action("Index", "Users")" class="elements"><span>Clients</span></a>
            <a href="index.html"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a>
        </li>*@
}
@*</ul>*@




@*</div>*@
<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}

