﻿@model Ventas.Web.Models.BuscaDespachosViewModel

@{
    ViewBag.Title = "Despachos";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" />

<div class="body-content container col-lg-4">
    <div class="panel panel-default table-responsive">
        <!-- Default panel contents -->
        <div class="panel-heading">
            @using (Ajax.BeginForm("BuscarDespachos", "BuscarDespachos",
    new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ListaDespachosEncontradas"
    },
    new
    {
        id = "BuscaDespachosForm",
        @class = "form-inline"
    }
    ))
            {
                <div class="form-group" id="BuscaDespachosForm">
                    <input type="text" name="Busqueda" id="dateFrom" class="form-control" style="width:120px" value=@Model.Busqueda />

                    <button type="submit" value="Buscar" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>


            }
        </div>
        @if (TempData["Success"] != null)
        {
            <br />
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Aviso!</strong> @TempData["Success"].
            </div>
        }

        <div id="ListaDespachosEncontradas" class="panel-body col-lg-12 col-md-6">
            @if (Model.Ventas.Count() > 0)
            {
                @Html.Partial("_DespachosEncontradas", Model.Ventas) ;
            }
        </div>
    </div>
</div>
<script>
    $("#dateFrom").datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: false
    });
    var currentDate = new Date();
    $("#dateFrom").datepicker("setDate", currentDate);
</script>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}


