﻿@model IEnumerable<Ventas.Web.Models.ZonasListModel>
@{
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        rowsPerPage: 15, selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "grid", canSort: true);
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
@*<br />
    <div class="body-content container">
        <div class="panel panel-default table-responsive">
             Default panel contents
            <div class="panel-heading">
            </div>*@

@*<nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>*@

@grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                 tableStyle: "table table-hover table-responsive table-condensed table-bordered",
        //footerStyle: "webgrid-footer",
                     footerStyle: "webgrid-footer",
            mode: WebGridPagerModes.All,
                     firstText: "<<",
            lastText: ">>",
            previousText: "<",
            nextText: ">",
            numericLinksCount: 5,
            columns: grid.Columns(
                        grid.Column("Acción", format: @<text>
                <div class="btn-group">
                    <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=@Url.Action("Ver", "Zonas", new { id = item.ZonaId })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver</a></li>
                        <li><a href=@Url.Action("Edit", "Zonas", new { id = item.ZonaId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Modificar</a></li>
                    </ul>
                </div></text>),
                                   grid.Column("ZonaId", "Id"),
                                   grid.Column("ZonaCodigo", "Código"),
                                   grid.Column("Descripcion", "Descripcion"),
                                   grid.Column("Estado", "Estado"),
                                   grid.Column("UltimoUsuario", "Usuario"),
                                   grid.Column("UltimaFechaModif", "Fecha")
                                     ))
@*</div>
    </div>*@
@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}

<script type="text/javascript">
    //$(document).ready(function () {
    //    //SetSortArrows();
    //    SetPagerNavImage();
    //});
    $(document).ajaxComplete(function () {
        //SetSortArrows();
        SetPagerNavImage();
    });
    function SetPagerNavImage() {
        //$(".webgrid-footer a").append(function () {
        //    $(this).html('<ul class="pagination">')
        //});
        $(".webgrid-footer a").each(function () {
            var text = $(this).text().trim();
            $(this).html('<span class="badge">' + text + '</span>');
            //for (i = 0; i < 50; i++) {
            //    var dato = i.toString();
            //    if (text == dato) {
            //        //$(this).html('<i class="glyphicon glyphicon-fast-forward">');
            //        ////$(this).html('<span aria-hidden="true">&raquo;</span>');
            //        //$(this).html('<span class="badge">' + text + '</span>');

            //        $(this).html('<span class="badge">' + dato + '</span>');

            //    }
            //}
            //$(this).html('<img src="../Content/Imgs/marker.png" style="width:172px;height:45px;"/>');
            if (text == "<<") {
                //$(this).html('<button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-fast-backward"></span></button>');
                //$(this).html('<span aria-hidden="true">&laquo;</span>');
                $(this).html('<span class="badge">' + '<i class="glyphicon glyphicon-fast-backward">' + '</span>');

                //$(this).html('<i class="glyphicon glyphicon-fast-backward">');
            }
            if (text == ">>") {
                //$(this).html('<i class="glyphicon glyphicon-fast-forward">');
                //$(this).html('<span aria-hidden="true">&raquo;</span>');
                $(this).html('<span class="badge">' + '<i class="glyphicon glyphicon-fast-forward">' + '</span>');
                //$(this).html('<button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-fast-forward"></span></button>');
            }
            if (text == "<") {
                //$(this).html('<i class="glyphicon glyphicon-chevron-left">');
                //$(this).html('<button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-backward"></span></button>');
                //$(this).html('<span aria-hidden="true">&larr;</span>');
                $(this).html('<span class="badge">' + '<i class="glyphicon glyphicon-chevron-left">' + '</span>');
            }
            if (text == ">") {
                //$(this).html('<span aria-hidden="true">&rarr;</span>');
                //$(this).html('<button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-forward"></span></button>');
                $(this).html('<span class="badge">' + '<i class="glyphicon glyphicon-chevron-right">' + '</span>');
            }
            //$(".webgrid-footer a").html('<div class="btn-group" role="toolbar" aria-label="...">' + $('.webgrid-footer a').html() + "</div>");
        });
    }
</script>