﻿@model Ventas.Web.Models.ZonasEditModel

@{
    ViewBag.Title = "Modificar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="body-content container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong> Modificar Zona (Geo Cerca)</strong>
            </div>
            <div class="panel-body">
                <div class="form-group-sm col-sm-3 ">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ZonaId)
                    <div class="row" >
                        @Html.LabelFor(model => model.ZonaCodigo, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 padding-top-10">
                            @Html.EditorFor(model => model.ZonaCodigo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ZonaCodigo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8 padding-top-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.Departamento, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.Distrito, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Distrito, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Distrito, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.UltimoUsuario, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.UltimoUsuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UltimoUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.UltimaFechaModif, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.UltimaFechaModif, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UltimaFechaModif, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <button type="submit" value="Save" class="btn btn-success" id="savebutton">
                            Grabar <i class="glyphicon glyphicon-floppy-disk"></i>
                        </button>
                    </div>
                </div>
                <div id="map-canvas" class="col-sm-9 table-responsive" style="height:500px;min-height: 400px">
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    var bermudaTriangle;
    initialize();
    function initialize() {

        var myLatLng = new google.maps.LatLng(-12.0552581, -77.0802049);
        var mapOptions = {
            zoom: 14,
            center: myLatLng,
            mapTypeId: google.maps.MapTypeId.RoadMap
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
        var triangleCoords = [
        new google.maps.LatLng(-12.05526, -77.0802),
        new google.maps.LatLng(-12.06281, -77.0845),
        new google.maps.LatLng(-12.06231, -77.07531)

        ];
        // Construct the polygon
        bermudaTriangle = new google.maps.Polygon({
            paths: triangleCoords,
            draggable: true,
            editable: true,
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35
        });

        bermudaTriangle.setMap(map);
        google.maps.event.addDomListener(savebutton, 'click', getPolygonCoords)

        //google.maps.event.addListener(bermudaTriangle, "dragend", getPolygonCoords);
        //google.maps.event.addListener(bermudaTriangle.getPath(), "insert_at", getPolygonCoords);
        //google.maps.event.addListener(bermudaTriangle.getPath(), "remove_at", getPolygonCoords);
        //google.maps.event.addListener(bermudaTriangle.getPath(), "set_at", getPolygonCoords);
    }
    //htmlStr += bermudaTriangle.getPath().getAt(i).toUrlValue(5) + "<br>";
    function getPolygonCoords() {
        var len = bermudaTriangle.getPath().getLength();
        var htmlStr = "";
        for (var i = 0; i < len; i++) {
            htmlStr += bermudaTriangle.getPath().getAt(i).toUrlValue(5) + ";";
        }
        //document.getElementById('info').innerHTML = htmlStr;
        document.getElementById('Coordenadas').innerHTML = htmlStr;
        document.getElementById("Coordenadas").value = htmlStr;
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
