﻿@model Ventas.Web.Models.ZonasSearchModel
@{
    ViewBag.Title = "Zonas";
}

<div class="body-content container">
    <div class="panel panel-info table-responsive">
        <!-- Default panel contents -->
        <div class="panel-body" style="background-color:transparent;padding-bottom:0px">
            @using (Ajax.BeginForm("BuscarZonas", "Choferes",
            new AjaxOptions
            {
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ListaZonasEncontrados"
            },
            new
            {
                id = "BuscaZonasForm",
                @class = "form-horizontal"
            }
            ))
            {
                <div id="BuscaZonasForm" class="table-responsive col-md-12">
                    <div class="col-md-10" style="background-color:transparent">
                        <div class="form-group col-md-5" style="background-color:transparent">
                            @Html.LabelFor(model => model.Busqueda, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Busqueda, htmlAttributes:
                                new { @class = "form-control", @placeholder = "Buscar Documento...", @Value = @Model.Busqueda })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="background-color:transparent">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-info">
                                Buscar <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="ListaZonasEncontrados" class="panel-body">
            @if (Model.Zonas.Count() > 0)
            {
                @Html.Partial("_ZonasEncontrados", Model.Zonas) ;
            }
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
