﻿@model IEnumerable<Ventas.Web.Models.PapeletasListModel>
@{
    WebGrid grid = new WebGrid(source: Model, canPage: true,
        rowsPerPage: 15, selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "grid", canSort: true);
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
@grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
                         tableStyle: "table table-hover table-condensed table-bordered container",
            footerStyle: "webgrid-footer",
            mode: WebGridPagerModes.All,
            firstText: "<<",
            lastText: ">>",
            previousText: "<",
            nextText: ">",
            numericLinksCount: 10,
            columns: grid.Columns(
                        grid.Column("Acción", format: @<text>
                <div class="dropup">
                    <button title="Acción" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href=@Url.Action("Ver", "Choferes", new { id = item.PapeletaId })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Ver</a></li>
                        <li><a href=@Url.Action("Modificar", "Choferes", new { id = item.PapeletaId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Modificar</a></li>
                        <li><a href=@Url.Action("Eliminar", "Choferes", new { id = item.PapeletaId })><i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar</a></li>
                    </ul>
                </div></text>),
grid.Column("PapeletaId", "Id"),
//grid.Column("FechaPapeleta", "Fecha"),
grid.Column("FechaPapeleta","Fecha",format: (item) => string.Format("{0:dd-MM-yyyy}", item.FechaPapeleta)),
grid.Column("NumeroPapeleta", "Papeleta"),
grid.Column("TipoInfraccion", "Tipo"),
grid.Column("Nombres", "Nombres"),
grid.Column("Apellidos", "Apellidos"),
grid.Column("NumeroDocumento", "DNI"),
grid.Column("Brevete", "Brevete"),
grid.Column("PlacaVehiculo", "Placa"),
grid.Column("MontoPapeleta", "Monto"),
grid.Column("Estado", "Estado")
                ))

@section Scripts{
    @Scripts.Render("~/bundles/unobtrusiveajax")
}

@*@section scripts{*@

    <script type="text/javascript">
        //$(document).ready(function () {
        //    //SetSortArrows();
        //    SetPagerNavImage();
        //});
        $(document).ajaxComplete(function () {
            //SetSortArrows();
            SetPagerNavImage();
        });
        function SetPagerNavImage() {
            $(".webgrid-footer a").each(function () {
                var text = $(this).text().trim();
                //$(this).html('<img src="../Content/Imgs/marker.png" style="width:172px;height:45px;"/>');
                if (text == "<<") {
                    $(this).html('<i class="glyphicon glyphicon-fast-backward">');
                }
                if (text == ">>") {
                    $(this).html('<i class="glyphicon glyphicon-fast-forward">');
                }
                if (text == "<") {
                    $(this).html('<i class="glyphicon glyphicon-chevron-left">');
                }
                if (text == ">") {
                    $(this).html('<i class="glyphicon glyphicon-chevron-right">');
                }

            });
        }
        function SetSortArrows() {
            var dir = $('#dir').val();
            var col = $('#col').val();
            var header = $('th a[href*=' + col + ']');
            if (dir == 'Ascending') {
                header.text(header.text() + ' ?');
            }
            if (dir == 'Descending') {
                header.text(header.text() + ' ?');
            }
        };
    </script>
@*}*@
