﻿@model Ventas.Web.Models.PapeletasEditModel

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" />


@*<script type="text/javascript">
        $(function () {
            $("#FechaPapeleta").datepicker({
                dateFormat: 'dd/mm/yyyy',
                changeYear: false,
                autoSize: true
            });
        });
    </script>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="body-content container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <strong>Registrar Papeleta de transito</strong>
                @*<h4>Cliente</h4>*@
            </div>
            <div class="panel-body">


                <div class="form-horizontal form-group-sm">
                    @*<h4>PapeletasEditModel</h4>
                        <hr />*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PapeletaId)
                    <div class="row">
                        <div class="col-md-3 padding-top-10">
                            <label for="city" class="control-label">Número Papeleta :</label>
                            @Html.EditorFor(model => model.NumeroPapeleta, new { htmlAttributes = new { @class = "form-control", @style = "text-align: Center" } })
                            @Html.ValidationMessageFor(model => model.NumeroPapeleta, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 padding-top-10">
                            <label for="stateorregion" class="control-label">Fecha Papeleta:</label>
                            @Html.EditorFor(model => model.FechaPapeleta, "{0:dd-MM-yyyy}", new { htmlAttributes = new { @id = "FechaPapeleta", @class = "form-control", @style = "text-align: Center" } })
                            @Html.ValidationMessageFor(model => model.FechaPapeleta, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 padding-top-10">
                            <label for="zipcode" class="control-label">Tipo Infraccion</label>
                                @*@Html.DropDownListFor(model => model.TipoInfraccion, (IEnumerable<SelectListItem>)Model.Infracciones, "Choose... ", new { @class = "form-control" })*@
                               @Html.EditorFor(model => model.TipoInfraccion, new { htmlAttributes = new { @class = "form-control", @style = "text-align: Center" } })
                                @Html.ValidationMessageFor(model => model.TipoInfraccion, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 padding-top-10">
                            <label for="zipcode" class="control-label">Monto Papeleta:</label>
                            @Html.EditorFor(model => model.MontoPapeleta, new { htmlAttributes = new { @class = "form-control", @style = "text-align: right" } })
                            @Html.ValidationMessageFor(model => model.MontoPapeleta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 padding-top-10">
                            @Html.LabelFor(model => model.ChoferCodigo, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ChoferCodigo, (IEnumerable<SelectListItem>)Model.Choferes, "Choose... ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ChoferCodigo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 padding-top-10">
                            @Html.LabelFor(model => model.TipoDocumento, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.TipoDocumento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
                            @*</div>*@
                        </div>
                        <div class="col-md-3 padding-top-10">
                            @Html.LabelFor(model => model.NumeroDocumento, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NumeroDocumento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumeroDocumento, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="col-md-3 padding-top-10">
                                @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 padding-top-10">
                                @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 padding-top-10">
                                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-6 padding-top-10">
                            @Html.LabelFor(model => model.PlacaVehiculo, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.PlacaVehiculo, (IEnumerable<SelectListItem>)Model.Vehiculos, "Vehiculo... ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PlacaVehiculo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 padding-top-10">
                            @Html.LabelFor(model => model.Brevete, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Brevete, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Brevete, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 padding-top-10">
                            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            @*@Html.LabelFor(model => model.CategoriaBrevete, htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownListFor(model => model.CategoriaBrevete, (IEnumerable<SelectListItem>)Model.Categorias, "Choose... ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoriaBrevete, "", new { @class = "text-danger" })*@

                        </div>
                        @*<div class="form-group col-md-12">
                                @Html.LabelFor(model => model.CategoriaBrevete, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CategoriaBrevete, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CategoriaBrevete, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $("#FechaPapeleta").datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: false
    });

    var currentDate = new Date();
    $("#FechaPapeleta").datepicker("setDate", currentDate);
</script>

@*@section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/unobtrusiveajax")
    }*@
