﻿@model Ventas.Web.Models.PapeletasSearchModel
@{
    ViewBag.Title = "Papeletas";
}
<div class="body-content container">
    <div class="panel panel-default table-responsive">
        <!-- Default panel contents -->
        <div class="panel-heading">
            @using (Ajax.BeginForm("BuscarPapeletas", "Papeletas",
            new AjaxOptions
            {
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ListaPapeletasEncontrados"
            },
            new
            {
                id = "BuscaPapeletasForm",
                @class = "form-horizontal form-group-sm"
            }
            ))
            {
                <div id="BuscaPapeletasForm" class="table-responsive col-md-12">
                    @*<div id="BuscaClientesForm" class="col-md-10" style="background-color:blue">*@
                    @*<div class="col-md-10" style="background-color:transparent">*@
                    <div class="form-group col-md-5 padding-top-5" style="background-color:transparent">
                        <label for="exampleInputEmail1" class="control-label col-md-4">Chofer</label>
                        @*@Html.LabelFor(model => model.ChoferCodigo, htmlAttributes: new { @class = "control-label col-md-4" })*@
                        <div class="col-md-8 padding-top-5">
                            @Html.DropDownListFor(model => model.ChoferCodigo, (IEnumerable<SelectListItem>)Model.Choferes, "Chofer... ", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group col-md-5 padding-top-5">
                        <label for="exampleInputEmail1" class="control-label col-md-4">Vehiculo</label>
                        @*@Html.LabelFor(model => model.PlacaVehiculo, htmlAttributes: new { @class = "control-label col-md-4" })*@
                        <div class="col-md-8 padding-top-5">
                            @Html.DropDownListFor(model => model.PlacaVehiculo, (IEnumerable<SelectListItem>)Model.Vehiculos, "Vehiculo... ", new { @class = "form-control" })
                        </div>
                    </div>
                    @*<div class="form-group col-md-6 padding-top-5" style="background-color:transparent">
                            @Html.LabelFor(model => model.Busqueda, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8 padding-top-5">
                                @Html.TextBoxFor(model => model.Busqueda, htmlAttributes:
                        new { @class = "form-control", @placeholder = "Buscar Documento...", @Value = @Model.Busqueda })
                            </div>
                        </div>*@
                    @*<div class="form-group col-md-6 padding-top-5" style="background-color:transparent">
                               @Html.LabelFor(model => model.TipoInfraccion, htmlAttributes: new { @class = "control-label col-md-4" })
                               <div class="col-md-8 padding-top-5">
                                   @Html.TextBoxFor(model => model.TipoInfraccion, htmlAttributes:
                        new { @class = "form-control", @placeholder = "Tipo Infracción...", @Value = @Model.TipoInfraccion })
                               </div>
                           </div>*@
                    @*</div>*@
                    <div class="col-md-2" style="background-color:transparent">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-info">
                                Buscar <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                    @*</div>*@
                </div>
            }
            <a href=@Url.Action("Create", "Papeletas")>
                <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Nueva Papeleta
            </a>
        </div>
        <div id="ListaPapeletasEncontrados" class="panel-body">
            @if (Model.Papeletas.Count() > 0)
            {
                @Html.Partial("_PapeletasEncontrados", Model.Papeletas) ;
            }
        </div>

    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
