﻿body {
    padding-top: 38px;
    padding-bottom: 10px;
    font-family: "Segoe UI";
	font-size: 12px;
    /*background-color:gainsboro;*/   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

