﻿@model Ventas.Web.Models.ChoferesSearchModel
@{
    ViewBag.Title = "Choferes";
}

<div class="body-content container">
    <div class="panel panel-default table-responsive">
        <!-- Default panel contents -->
        <div class="panel-heading">
            @using (Ajax.BeginForm("BuscarChoferes", "Choferes",
            new AjaxOptions
            {
                HttpMethod = "Get",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "ListaChoferesEncontrados"
            },
            new
            {
                id = "BuscaClientesForm",
                @class = "form-horizontal"
            }
            ))
            {
                <div id="BuscaClientesForm" class="table-responsive col-md-12" style="background-color:transparent">
                    @*<div id="BuscaClientesForm" class="col-md-10" style="background-color:blue">*@
                    <div class="col-md-10" style="background-color:transparent">
                        <div class="form-group col-md-5" style="background-color:transparent">
                            @Html.LabelFor(model => model.Busqueda, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Busqueda, htmlAttributes:
             new { @class = "form-control", @placeholder = "Buscar Documento...", @Value = @Model.Busqueda })
                            </div>
                        </div>
                        @*<div class="form-group col-md-7" style="background-color:transparent">
                                @Html.LabelFor(model => model.BusquedaCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.BusquedaCliente, htmlAttributes:
                                        new { @class = "form-control", @placeholder = "Buscar Cliente...", @Value = @Model.BusquedaCliente })
                                </div>
                            </div>*@
                    </div>
                    <div class="col-md-2" style="background-color:transparent">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-info">
                                Buscar <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
            <a href=@Url.Action("Create", "Choferes")>
                    <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Nuevo Chofer
                </a>
        </div>
        <div id="ListaChoferesEncontrados" class="panel-body">
            @if (Model.Choferes.Count() > 0)
            {
                @Html.Partial("_ChoferesEncontrados", Model.Choferes) ;
            }
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
