﻿@model Ventas.Web.Models.VisitasViewModel
@using (Ajax.BeginForm("BuscaRutas", "Visitas",
        new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "visitas-rutas-container",
        },
        new
        {
            id = "RutasForm"
        }
        ))
{
    <br />
    @*<form class="form-horizontal">*@

    <div id="BuscaZonasForm" class="table-responsive col-md-12">
        <div class="col-md-10" style="background-color:transparent">
            <div class="input-group col-md-12">
                <div class="input-group-addon">
                    <strong>Vendedores Disponibles</strong>
                </div>
                <div class="input-group-addon">
                    <span class="btn-link">
                        @Ajax.ActionLink(" ", "Seleccionar", "Vendedores",
                    new { area = "" },
                    new AjaxOptions
                    {
                        HttpMethod = "Get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "InscripcionModalForm",
                        
                    },
                    new
                    {
                        data_toggle = "modal",
                        data_target = "#InscripcionModalForm",
                        @class = "glyphicon glyphicon-zoom-in"
                    }
                    )
                    </span>
                </div>
                @Html.DropDownListFor(m => m.VendedorSeleccionado, Model.VendedoresLista, new { id = "vendedoresList", @class = "form-control departamento" })
            </div>
        </div>
        <div class="col-md-2" style="background-color:transparent">
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">
                    Buscar <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>
}
