﻿@model Ventas.Web.Models.VisitasViewModel
@using (Html.BeginForm("Guardar", "Visitas", FormMethod.Post, new { role = "form" }))
{
    @Html.HiddenFor(m => m.ZonaSeleccionada)
    @Html.HiddenFor(m => m.ZonasLista)
    @Html.HiddenFor(m => m.VendedorSeleccionado)
    @Html.HiddenFor(m => m.VendedoresLista)

    <div class="form-group">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Aviso!</strong> @TempData["Success"].
            </div>
        }

        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="col-sm-4">Clientes a Visitar</th>
                    <th class="col-sm-4"></th>
                </tr>
                <tr class="success">
                    <th class="col-sm-4">Cliente</th>
                    <th class="col-sm-4">Direccion</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Rutas.Count(); i++)
            {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.Rutas[i].ClientId)
                            @Html.DisplayFor(m => m.Rutas[i].Nombre)
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.Rutas[i].DireccionId)
                            @Html.DisplayFor(m => m.Rutas[i].Direccion.Descripcion)
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Grabar</button>
    </div>

}
