﻿@model Ventas.Web.Models.VisitasViewModel
<div class="body-content container">
    <div id="visitas-buscar-container" class="panel panel-body">
        @{Html.RenderPartial("_BuscaRutas", Model);}
    </div>
        <p></p>
    <div id="visitas-rutas-container" class="panel panel-body">
        @{Html.RenderPartial("_GuardaRutas", Model);}
    </div>
    @*</div>*@
</div>
<div id="InscripcionModalForm"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="IncripcionFormLabel"
     aria-hidden="true">
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}