﻿@model Ventas.Web.Models.EntregasViewModel
@using (Html.BeginForm("Guardar", "Entregas", FormMethod.Post, new { role = "form" }))
{
    var mesaje = TempData["Success"];

    @Html.HiddenFor(m => m.VehiculoSeleccionado)
    @*@Html.HiddenFor(m => m.FechaRuta)*@


    if (@TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> @TempData["Success"].
        </div>
    }
    else
    {


    }
    <div class="form-group-sm row">
        <div class="col-md-2 padding-top-10">
            <label for="email" class="control-label">Fecha Entrega:</label>
            @Html.EditorFor(model => model.FechaRuta, new { htmlAttributes = new { @class = "form-control col-sm-3" } })
        </div>
        @*<div class="col-md-6 padding-top-10">
            <label for="email" class="control-label">Vehiculos Disponibles:</label>
            @Html.DropDownListFor(m => m.VehiculoSeleccionado, Model.VehiculosLista, new { id = "choferesList", @class = "form-control col-sm-5" })
        </div>*@
        <div class="col-md-2 padding-top-10">
            <br />
            <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Grabar</button>
        </div>
    </div>
    
<p></p>
    
    @*<div class="form-group-sm">*@
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>
                        Entregas
                    <th style="text-align: right">
                        Total de la Ruta S/.
                    </th>
                    <th style="text-align: right">
                        @Html.DisplayFor(m => m.MontoTotal)
                    </th>
                </tr>
                <tr class="success">
                    <th class="col-sm-4">Cliente</th>
                    <th class="col-sm-4">Direccion</th>
                    <th class="col-sm-2">Monto Total</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Rutas.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.Rutas[i].VentaId)
                            @Html.DisplayFor(m => m.Rutas[i].Cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Rutas[i].Direccion)
                        </td>
                        <td style="text-align: right">
                            @Html.DisplayFor(m => m.Rutas[i].MontoTotal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    @*</div>*@
}
