﻿@model Ventas.Web.Models.EntregasViewModel
@using (Ajax.BeginForm("ObtieneRutas", "Entregas",
    new AjaxOptions()
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "entregas-guardar-container",
    }, new { id = "obtienerutasform" }))
{
    <div class="form-group-sm row">
        <div class="col-md-2 padding-top-10">
            <label for="email" class="control-label">Fecha Venta:</label>
            @Html.EditorFor(model => model.FechaVenta, new { htmlAttributes = new { @class = "form-control col-sm-6" } })
        </div>
        <div class="col-md-6 padding-top-10">
            <label for="email" class="control-label">Vehiculos Disponibles:</label>
            @Html.DropDownListFor(m => m.VehiculoSeleccionado, Model.VehiculosLista, new { id = "choferesList", @class = "form-control col-sm-5" })
        </div>
        <div class="col-md-2 padding-top-10">
            <br />
            <button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Rutas</button>
        </div>
    </div>

}
