﻿@model Ventas.Web.Models.EntregasViewModel
@{
    ViewBag.Title = "Entregas";
}
<div class="body-content container">
    <div >
        @*class="col-sm-4"*@
        <div id="entregas-search-container" class="panel panel-body">
            @{Html.RenderPartial("_ObtieneRutas", Model);}
        </div>
        <p></p>
        <div id="entregas-guardar-container" class="panel panel-body">
            @{Html.RenderPartial("_GuardaRutas", Model);}
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
}
