﻿@model IEnumerable<Ventas.Web.Models.ApplicationUser>
@{
    ViewBag.Title = "Usuarios";
    WebGrid grid = new WebGrid(source: Model, canPage: true,
       rowsPerPage: 1, selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "grid", canSort: true);
}

<div class="body-content container">
    <div class="panel panel-default table-responsive">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <a href=@Url.Action("Create", "Usuarios")>
                <i class="glyphicon glyphicon-plus"></i>&nbsp;Nuevo Usuario
            </a>
        </div>
        @*<div class="panel-body">*@


        @{
            @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
            tableStyle: "table table-condensed table-bordered",
            mode: WebGridPagerModes.All,
               firstText: "First", lastText: "Last",
                previousText: "Previous",
                nextText: "Next",
                numericLinksCount: 15,
                columns: grid.Columns(
                grid.Column("UserName", "Usuario"),
                grid.Column("FirstName", "Nombres"),
                grid.Column("LastName", "Apellidos"),
                grid.Column("Email", "Email"),
                grid.Column("EmailConfirmed", "Conf?")
            ));
        }
    </div>
</div>

